# Performance Measurements of linear regression

In [1]:
import pandas as p                #importing the necessary modules and libraries
import matplotlib.pyplot as plt
import seaborn as s
import numpy as n

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
df=p.read_excel("Data1.xlsx")   #classified data according to cities and average, max and min values of NO2 in them

In [4]:
df.head()

        City  Last Update   Avg1   Max1  Min1
0  Ahmedabad            0  42.08  39.00  7.80
1     Aizwal            0   4.10   5.20  3.10
2  Amaravati            0  10.36  16.70  6.53
3   Amritsar            0  51.27  28.02  7.79
4  Bengaluru            0  31.04  19.65  9.72

In [5]:
# Adding a new column according to the data.
AQI=['Satisfactory','Good' , 'Good','Satisfactory','Good', 'Good', 'Good','Satisfactory','Satisfactory', 'Good', 'Moderate', 'Good', 'Good','Good','Satisfactory','Good', 'Good', 'Moderate','Good','Satisfactory','Good','Good','Satisfactory','Good','Moderate']

In [6]:
df['AQI']=AQI #added to data frame

In [7]:
df.head(5)

        City  Last Update   Avg1   Max1  Min1           AQI
0  Ahmedabad            0  42.08  39.00  7.80  Satisfactory
1     Aizwal            0   4.10   5.20  3.10          Good
2  Amaravati            0  10.36  16.70  6.53          Good
3   Amritsar            0  51.27  28.02  7.79  Satisfactory
4  Bengaluru            0  31.04  19.65  9.72          Good

In [8]:
# Adding class to the dataset which is derieved on the values according to AQI
df['class'] = df.AQI.map({'Good':2, 'Satisfactory':1,'Moderate':0}) #class defined

In [9]:
df.head(5)

        City  Last Update   Avg1   Max1  Min1           AQI  class
0  Ahmedabad            0  42.08  39.00  7.80  Satisfactory      1
1     Aizwal            0   4.10   5.20  3.10          Good      2
2  Amaravati            0  10.36  16.70  6.53          Good      2
3   Amritsar            0  51.27  28.02  7.79  Satisfactory      1
4  Bengaluru            0  31.04  19.65  9.72          Good      2

In [10]:
del df['AQI']

In [11]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['City','Last Update','Avg1','Max1','Min1','class']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i].astype(str))

In [12]:
X= df.drop(labels='class',axis=1)
y=df.loc[:,'class']

In [13]:
# division into training and test sets.
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                            test_size=0.2, random_state=0)

In [17]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()  
regressor.fit(X_train, y_train) 

print("Training complete.")

Training complete.

In [18]:
print(X_test) # Testing data - In Hours
y_pred = regressor.predict(X_test) # Predicting the scores

    City  Last Update  Avg1  Max1  Min1
5      5            0     2     4    16
2      2            0     1     1    17
19    19            0     4    23    14
16    16            0     3    12     2
11    11            0     0     5     0

In [19]:
# Comparing Actual vs Predicted
df = p.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df

    Actual  Predicted
5        2   2.012191
2        2   2.255626
19       1   0.479207
16       2   1.353463
11       2   1.907354

In [20]:
import sklearn.metrics as sm
print("Mean absolute error =", round(sm.mean_absolute_error(y_test, y_pred), 2)) 
print("Mean squared error =", round(sm.mean_squared_error(y_test, y_pred), 2)) 
print("Median absolute error =", round(sm.median_absolute_error(y_test, y_pred), 2)) 
print("Explain variance score =", round(sm.explained_variance_score(y_test, y_pred), 2)) 
print("R2 score =", round(sm.r2_score(y_test, y_pred), 2))

Mean absolute error = 0.31
Mean squared error = 0.15
Median absolute error = 0.26
Explain variance score = 0.29
R2 score = 0.05